.git
.vscode
.gemini
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
07_scripts/__pycache__
06_dashboard/generado/*
06_dashboard/publico/*
06_dashboard/wiki/*
00_sistema_tesis/bitacora/audit_history/*
*.bak
*.tmp
node_modules
.dockerignore
.env
